body{
background-color: orange;
text-align:center;
}
#avengers{
height:400px;
width:600px;    
}
#title{
font-size: 60px;    
}
#start{
background-color: hotpink;
}
#grid{
background-color:lightblue;
}
#g{
font-size:50px;   
}
#vision{
height:250px;
width:250px;
}
#thor{
height:250px;
width:250px;    
}
#CA{
height:250px;
width:250px;    
}
#Wanda{
height:250px;
width:250px;    
}
#BP{
height:250px;
width:250px;    
}
#IM{
height:250px;
width:250px;    
}
#AM{
height:250px;
width:250px;    
}
#Thanos{
height:250px;
width:250px;    
}
#sl{
font-size:50px;   
}
#slide{
background-color:greenyellow;
}